{% extends 'page.html' %}
{% block title %}Home{% endblock %}

{% set groups = h.get_featured_groups(9999) %}
{% set top_organization = h.get_featured_organizations(5) %}
{% set stats = h.get_site_statistics() %}

{%- block content %}
<div class="w-full flex relative mb-16">
  <img class="w-full h-96 object-cover" src="/20230510_173816.jpg">
  <div class="absolute flex w-full h-full px-4">
    <div class="bg-black bg-opacity-50 h-80 rounded-2xl flex m-auto p-3">
      <div class="w-1/2">
        <div class="text-4xl mb-2 text-white">
          Perlu data yang ada di Kabupaten Mahakam Ulu? Silahkan ketik dan tekan tombol cari, mudah kan
        </div>
        {% block search %}
        {% snippet 'home/snippets/search.html', search_facets=search_facets %}
        {% endblock %}
      </div>
      <div class="w-1/2 flex">
        <img class="m-auto h-64" src="/g2048.png">
      </div>
    </div>
  </div>
</div>
<div class="p-10 px-20">
  <div class="rounded-xl bg-white shadow-md border">
    <div class="border-b text-center text-2xl py-2">
      Telusuri berdasarkan Grup atau Topik
    </div>
    <div class="grid grid-cols-6 gap-5 p-3">
      {% for item in groups %}
      <a href="{{ h.url_for(item.type ~ '.read', id=item.name) }}" class="text-center flex flex-col">
        <img class="m-auto h-16" src="{{item.image_display_url}}">
        <div>
          <h2 class="text-xl font-bold">
            {{item.title}}
          </h2>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="p-10 px-20 grid grid-cols-6 gap-5">
  <div class="bg-white h-60 rounded-xl shadow border overflow-hidden col-span-3">
    <div class="text-white h-1/3 flex relative">
      <img class="w-full h-full object-cover" src="/7197.png">
      <div class="absolute flex text-2xl w-full h-full">
        <div class="m-auto">

          Statistik Open Data Kab. Mahulu
        </div>
      </div>
    </div>
    <div class="flex h-2/3 w-full divide-x">
      <div class="w-full text-center flex">
        <a class="m-auto flex" href="{{ h.url_for('dataset.search') }}">
          <div class="m-auto">

            <strong class="h-20 text-2xl">{{ h.SI_number_span(stats.dataset_count) }}</strong>
            <div class="text-lg">
              {{ _('Dataset') if stats.dataset_count == 1 else _('Datasets') }}
            </div>
          </div>
        </a>
      </div>
      <div class="w-full text-center flex">
        <a class="m-auto" href="{{ h.url_for('organization.index') }}">
          <div class="m-auto">
            <strong class="h-20 text-2xl">{{ h.SI_number_span(stats.organization_count) }}</strong>
            <div class="text-lg">
              {{ _('Organization') if stats.organization_count == 1 else _('Organizations') }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="bg-white h-60 rounded-xl shadow border overflow-hidden col-span-3">
    <div class="text-black h-1/3 flex relative">
      <img class="w-full h-full object-cover" src="/7199.png">
      <div class="absolute flex text-2xl w-full h-full">
        <div class="m-auto">
          Top Organization
        </div>
      </div>
    </div>
    <div class="h-2/3 w-full flex flex-col divide-y">
      {% for item in top_organization %}
      <a href="{{ h.url_for(item.type ~ '.read', id=item.name) }}" class="py-2 px-4">
        <div class="flex justify-between">
          <div>
            <h2 class="text-base">
              {{item.title}}
            </h2>
          </div>
          <div class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{item.packages|length}}</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-span-6">
    <div class="bg-white rounded-xl shadow border overflow-hidden col-span-3">
      <div class="text-black h-28 flex relative">
        <img class="w-full h-full object-cover" src="/7198.png">
        <div class="absolute flex text-2xl w-full h-full">
          <div class="m-auto">

            Datasets Terbaru
          </div>
        </div>
      </div>
      <div class="h-full">
        <div class="w-full">
          <div class="flex">
            <div class="w-1/3 border-r">
              {% for facet in facet_titles %}
              {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet,
              search_facets=search_facets)
              }}
              {% endfor %}
            </div>
            <div class="w-full px-5 py-3">
              <div>
                {% block form %}
                {% set facets = {
                'fields': fields_grouped,
                'search': search_facets,
                'titles': facet_titles,
                'translated_fields': translated_fields,
                'remove_field': remove_field }
                %}
                {% set sorting = [
                (_('Relevance'), 'score desc, metadata_modified desc'),
                (_('Name Ascending'), 'title_string asc'),
                (_('Name Descending'), 'title_string desc'),
                (_('Last Modified'), 'metadata_modified desc'),
                (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
                %}
                {% endblock %}
              </div>
              {{ h.snippet('snippets/package_list_rdev.html', packages=h.mahulu_newset_dataset()) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {#
    {{ h.snippet('snippets/h.mahulu_showing_dataset(item)_list.html', h.mahulu_showing_dataset(item)s=page.items) }}
    #}
  </div>
</div>
{% endblock -%}